.header {
  height: 45px;
  background-color: #a6e9d5;
  width: 2000px;
}

.fa-plus {
  font-size: 24px;
  cursor: pointer;
}

.box {
  position: absolute;
  bottom: 200px;
  left: 100px;
  background-color: rgba(0, 0, 0, 84%);
  width: 300px;
  height: 160px;
}

.fa-x {
  color: rgb(173, 150, 150);
  cursor: pointer;
}

.popup {
  position: absolute;
  background-color: rgb(245, 245, 245, 67%);
  height: 100%;
  width: 200px;
  top: 45px;
  border: #a6e9d5;
}

.overlay {
  top: 45px;
  position: absolute;
  background-color: rgba(0, 0, 0, 87%);
  height: 100%;
  left: 189px;
}

.searchbar {
  background-color: rgba(0, 0, 0, 0%);
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  margin-top: 20px;
}

.margin {
  margin-left: 25px;
}
