.header {
  height: 45px;
  background-color: #a6e9d5;
  width: 2000px;
  font-family: "Permanent Marker", cursive;
}

.fa-plus {
  font-size: 24px;
  cursor: pointer;
}

.box {
  position: absolute;
  bottom: 77px;
  background-color: rgba(0, 0, 0, 84%);
  width: 294px;
  height: 359px;
}

.fa-x {
  color: rgb(173, 150, 150);
  cursor: pointer;
}

.popup {
  background-color: rgb(245, 245, 245, 67%);
  height: 500px;
  width: 200px;
  top: 45px;
  border: #a6e9d5;
}

.overlay {
  top: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 70%);
  height: 100%;
  left: 0;
}

.searchbar {
  background-color: rgba(0, 0, 0, 0%);
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  margin-top: 20px;
  height: fit-content;
}

.margin {
  margin-left: 25px;
}

.side {
  position: absolute;
  width: 7px;
  height: 90px;
}

.sides {
  position: absolute;
  width: 7px;
  height: 90px;
  background-color: rgb(152, 155, 192);
}

.circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid #d0d0d0;
  margin: 0 5px;
  cursor: pointer;
}

.circle input {
  display: none;
}

.positions {
  position: relative;
  top: 45px;
  left: 25px;
}

.liststyle {
  border-bottom: 1px solid #b6aaaa;
}

.color {
  color: #b6aaaa;
  font-size: small;
}

.boxes {
  width: 282px;
  height: 271px;
  background-color: whitesmoke;
  top: 130px;
}

.position-relative {
  position: relative;
  left: 200px;
}

.margin-subtract {
  height: fit-content;
  width: fit-content;
  margin-top: -24px;
}

.color-red {
  color: #f00;
  font-size: 15px;
  font-weight: 600;
}

.delete {
  position: absolute;
  top: 250px;
  background-color: whitesmoke;
  height: 200px;
  width: 352px;
  border-radius: 5px;
  border: 1px solid black;
}

.background-image {
  background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(29, 26, 28, 0.73)),
    url("https://images.pexels.com/photos/965119/pexels-photo-965119.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 562px;
}

.border-color {
  border: none;
  border-bottom: 2px solid #b6aaaa;
  background-color: whitesmoke;
}
